<nav class="navbar">
  <div class="navbar-container">
    
    <!-- Logo + Nombre -->
    <div class="navbar-logo">
      <img src="/img/logopro.png"  class="logo-img">
      <span>LogisticsPro</span>
    </div>

    <!-- Menú centrado -->
    <ul class="nav-links">
      <li><a href="/">Inicio</a></li>
      <li><a href="/register">Registrar Envío</a></li>
      <li><a href="/orders">Ver Envíos</a></li>
    </ul>

  </div>
</nav>
