<%- include('partials/header') %>
<%- include('partials/navbar') %>

<section class="hero">
  <h1>Bienvenido a LogisticsPro</h1>
  <p>Soluciones logísticas inteligentes y seguras</p>
  <div class="hero-buttons">
    <a href="/register" class="btn">Registrar Envío</a>
    <a href="/orders" class="btn btn-success">Ver Envíos</a>
  </div>
</section>

